.Synonyms {
  margin: 10px 0;
  padding: 0;
  text-align: center;
}

.Synonyms li {
  font-size: 13px;
  display: inline-block;
  line-height: 1.5;
  color: #53a8b6;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 5px 5px;
}
